<%= form_for(@degree, remote: true, html: {id: "degree-form", class: "basic-form"}) do |f| %>
	<h1><%= header %></h1>
  <label for="field">Area of Study :</label>
  <%= f.text_field :field %><br>
  <small>&nbsp;&nbsp;(leave blank for HS Diploma)</small><br><br>

  <%= f.label :concentration, "Concentration :" %>
  <%= f.text_field :concentration %><br><br>

  <%= f.label :d_type, "Degree Type :" %>
  <%= f.select(:d_type, options_for_select([['B.A.', 'B.A.,'], ['B.S.', 'B.S.,'], ['M.A.', 'M.A.,'], 
    ['M.S.', 'M.S.,'], ['Ph.D.', 'Ph.D.,'], ['High School Diploma', 'High School Diploma']])) %><br><br>

  <%= f.label :school_id, "School :" %>
  <%= f.select(:school_id, options_for_select(School.select('name, id').map{ |school| [school.name, school.id] })) %>
  <br><br>

  <%= f.label :gpa, "GPA :" %>
  <%= f.number_field :gpa, step: 0.01 %><br><br>

  <%= f.label :start_date, "Start Date :" %>
  <%= f.date_select(:start_date) %><br><br>

  <%= f.label :end_date, "Finish Date :" %>
  <%= f.date_select(:end_date) %><br><br>

  <%= f.label :details, "Description :" %>
  <%= f.text_area :details, rows: "5", cols: "50" %><br><br>
  <br>

  <%= f.submit %>
<% end %>