<!DOCTYPE html>
<html>
<head>
  <title>Vandaalen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

  <div class="page-wrap">
    <%= render partial: "layouts/header" %>
    <%= render partial: "layouts/errors"%>
    <%= yield %>
  </div>

  <%= render partial: "layouts/footer", locals: {debug: false} %>
</body>
</html>
